body{
    background: white;
}
.main{
    background: rgba(0, 0, 0, 0.897);
    padding-top: 5%;
    padding-bottom: 5%;
}
.formcontainer{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 255, 234, 0.541);
    border: 1px solid greenyellow;
    border-radius: 16px;
    padding: 2rem;
}
span{
    color: white;
}
p{
    font-weight: 600;
    font-size: large;
}
.contact{
    display: flex;
    flex-direction: column;
}

input{
    width: 40%;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-radius: 8px;
    height: 35px;
}
textarea{
    width: 80%;
    margin: auto;
    padding-left: 1rem;
    border-radius: 8px;
}
.button{
    width: 80%;
    margin-left: 60%
}
button{
    width: 25%;;
    height: 2rem;
    font-size: large;
    border-radius: 6px;
}

/* ------------------- MOBILE DEVICES ----------------- */

@media screen and (max-width: 600px) {
    .main{
        padding-bottom: 0%;
        height: 90%;
    }
    .formcontainer{
        width: 100%;
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
    }
    .contact{
        width: 80%;
        margin-right: 12%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        line-height: 140%;
        /* flex-direction: row;
        justify-content: space-around; */
        /* align-items: center; */
    }
    .contacticon{
        width: 80%;
        height: auto;
        margin-right: 5%;
    }
    .youtubeicon{
        float: right;
    }
    footer{
        position: relative;
        bottom: 0;
        right: 0;
    }

}
