.main{
    align-items: center;
}
 table,tr, th, td{
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-size: medium;
    font-weight: 100;
}
td{
    color: rgba(0, 0, 0, 0.836);
    font-weight: lighter;
}
 .specialth{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* font-size: larger; */
    /* border-color: rgb(78, 78, 248); */
}
th{
    font-weight: 900;
    color: rgb(248, 6, 6);
    font-style: normal;
}
th, td{
    padding-left: 0.3rem;
}
table{
    width:80%; 
    margin: auto; height: 230px;
    border-radius: 15px solid black;
}

/* ------------ MEDIA QUERIES (MOBILE DEVICES) --------------- */
@media screen and (max-width: 600px) {
    table{
        width: 90%;
    }
    footer{
        
        position: relative;
        left: 0;
        bottom: 0;
    }
}


